*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production
auth.json

# IDE
.fleet
.idea
.nova
.vscode
.zed

# PHP / Laravel
.phpactor.json
.phpunit.result.cache
.phpunit.cache

# Dependencies
/vendor
/node_modules

# Build
/public/build
/public/hot

# Storage
/public/storage
/storage/*.key
/storage/pail

# Dev environment
Homestead.json
Homestead.yaml

# Stubs
/stubs